.col {
    margin-top: -1.15rem;
    min-height: 100vh;
}

.col .col-title {
    text-align: center;
}

.card {
    margin: 2em 0;
}

.navbar-auth {
    float: right;
}

.form-group {
    margin-bottom: 1rem;
}

.wrapper {
    display: flex;
}

.main {
    width: 100%;
}

.sidebar {
    width: 15rem;
    min-height: 100vh;
}

.sidebar-header, .title-bar {
    padding: 0.875rem 1.25rem;
}

.title-bar {
    width: 100%;
}

.title-bar .logout {
    float: right;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper > .main > .container {
    padding-top: 2rem;
}

.new-item span {
    float:  right;
}
